.containerRegister{

    background-image: url('./../../img/perfil.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.titleConatinerRegister{
    font-family: Copperplate Gothic Light;
}

.errorInput{
    color: red;
    font-weight: 500;
}