.divProfile{

    background-image: url('./../../../img/perfil.jpg');
    background-size:cover;
    background-repeat: no-repeat;
    .nameProfile{
        font-family: Copperplate Gothic Light;
    
    }
}

