.colImg {
  padding: 0 !important;
  flex-direction: column;
  align-items: center;

  .titleHome {
    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
    z-index: 2;

    width: max-content;
    color: white;

    border-top: 5px solid white;
    border-bottom: 5px solid white;
  }

  .subTitle {
    color: white;
  }
}

.icon {
  margin-left: 0.5em;
}

.titleServicios {
  width: 7em;
  border-top: 5px solid #e4d6c393;
  border-bottom: 5px solid #e4d6c393;
  color: #4b4133;
}

.rowTitle {
  height: 35em;
  background-image: url("./../../img/libro.jpg");
  background-size: cover;
}
