.buttonCollapse{
    background-color: rgba(68, 75, 74, 0.644);
    border: 1px solid white;
    &:hover{
        background-color: #755e4fb6;
        border: 1px solid white;
    }
    &:active{
        background-color: #755e4fb6;
        border: 1px solid white;
    }
}