.containerLogin{
    background-image: url('./../../img/perfil.jpg');
    background-size:cover;
    background-repeat: no-repeat;
}

.titleConatinerLogin{
    font-family: Copperplate Gothic Light;
}